#from,#to{
    width:95%;
    height: 50px;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
	border-color:black;
	border-style: solid;
	margin-left:5%;
}




.lab{
	margin-top:30%;
	margin-left:5%;
    color: #34495e;
    font-size: 40px;
    font-weight: bold;
	width: 100%;
}


#columnchart_material,#bar1chart_div,#bar4chart_div,#bar5chart_div,#pie1chart_div,#pie2chart_div,#bar2chart_div,#bar3chart_div,#chart_lines{

    width: 90%;
	height: 90vh;
}
