
.header{
    font-size: 350%;
    text-align: center;
    color: #2a2b2dff;
    background-color: none;
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0px 0px;
    list-style-type: none;
    text-align: center;
}
#column
{
    background: #bdc3c7;
    border: none;
    box-shadow: none;
}

.patient{
    width: 50%;
    height: 420px;
    border:none;
    outline: none;
    background:#000;
    margin-bottom: 5%;/*space between the patients cards*/
    color:#fff;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 0.8s;
    padding: 50px 20px;
    margin-top: 2%;
    /*margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 100px;
    */
}

#p1{
    background-color:red;
    color: green;
}

.patient:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #fff;
}


.profileIcon{
    width:100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:calc(50% - 50px);
}

#info{
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
    color: #fff;
    text-align: left;
}


.field{
    border:none;
    background: transparent;
    outline:none;
    color:#fff;
    font-size: 25px;
    width: calc(40%);
    
}

.field:hover{
    cursor: pointer;
}

.lab:hover{
    cursor: pointer;
}
