
.mainHeader {
    font-size: 100px;
    text-align: center;
    color: #2a2b2dff;
    background-color: none;
    font-weight: bold;
}
.welcome {
    font-size: 300%;
    text-align: center;
    color: #2a2b2dff;
    background-color:none;
}



.patientsBtn{
    background-color:#d9514eff;
    margin-top: 1%;
    margin-bottom: 1%;
}

.statBtn{
    background-color:#2da8d8ff;
    margin-top: 1%;
}



